{%- extends 'page.html' -%}

{% block body %}
<div class="row">
  <div class="col-lg-12">
    <h4>Commits</h4>
    <table class="table">
      <thead>
        <tr>
          <th>#GitHub</th>
          <th>@Status</th>
        </tr>
      </thead>
      <tbody>
      {% for file in files %}
        <tr>
          <td><a href="{{ config.REPO_URL + 'commit/' + file }}">{{ file[:7] }}</td>
          <td><a href="{{ url_for('status', commit_sha=file) }}">status</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock body %}
